.card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: fit-content;
  /* padding: 0 2rem 2rem 2rem; */
  text-align: center;
}

.card img {
  width: 100%;
}
.frame {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card h3 {
  margin: 0;
  margin-top: 1rem;
  color: #000000;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card p {
  padding-top: 5px;
  margin-bottom: 20px;
  color: #000000;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card .btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nametag {
  margin-top: 10px;
  width: 200px;
  height: auto;
  background-image: url("../../../../public/namtag.png");
  background-size: 200px;
  background-repeat: no-repeat;
}
