.allProduct {
  margin: auto;
  padding: 30px;
  width: 98%;
  text-align: center;
  overflow-x: scroll;
  border: 1px solid;
}
.allProduct {
  overflow: scroll;
}
.allProduct::-webkit-scrollbar {
  width: 5px;
}
.allProduct::-webkit-scrollbar-thumb {
  height: 20px; /* 스크롤바의 길이 */
  background: #000000; /* 스크롤바의 색상 */
  border-radius: 10px;
}
